html, body {
    margin: 0;
    height: 100%;
}

#nav {
    display: flex;
    justify-content: flex-end;
    margin-top: 15px;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#nav a {
    margin-right: 20px;
}

#nav a.topimage {
    width: 17px;
    height: 17px;
    background: red;
    border-radius: 50%;
}

#middle {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#logo {
    text-align: center;
}

#searchbarcontainer {
    margin-top: 20px;
    text-align: center;    
}

#searchbar {
    padding-top: 10px;
    padding-bottom: 10px;
    outline: 0;
    width: 550px;
    border-radius: 15px;
    border: 1px solid #bdb8b8;
}

#searchbar:hover {
    box-shadow: 0 0 10px 2px rgb(141, 141, 141);
}

#buttons {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.button {
    margin-left: 10px;
    margin-right: 10px;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 3px;
    background: rgb(231, 231, 231);
}

#links {
    margin-top: 20px;
    text-align: center;
}

body {
    display: flex;
    flex-direction: column;
}

#footer-content {
background: #eee;
}

.footer_top{
    padding: 1em;
}
.footer_bottom{
    padding: 1em;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid rgb(124, 123, 123);
}
.left a{
    margin-right: 1em;
}
.right a{
    margin-right: 1em;
}